div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-sm-12
      h1 Suche
      p
        | hallo ich bin die suche :)
        | was ist hier denn los?
        br
        code umbruch?
    .col-sm-12
      h2 neue überschrift neues Glück?
